# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/Layouts/

# IDE
.vscode/
.vs/
*.csproj
*.sln
*.user

# SO
.DS_Store
Thumbs.db

# UPM
/[Pp]ackages/*-lock.json
!Packages/manifest.json
!Packages/packages-lock.json

# (opcional) fontes de arte fora do runtime
# Assets/ArtSources/

